<div class="bg-light text-center py-4" id="about">
  <div class="d-inline-block w-50">
    <img src="assets/ReadyPlayerMe-Avatar.png" alt="Your Picture" class="rounded-circle" style="width: 150px; height: 150px; border: 2px solid black;">
    <h2 class="mt-3">About Me</h2>
    <p>
      The act of programming itself is satisfying and creative.
      For any problem, there are many different solutions, but
      for me, a good program has a certain beauty and elegance
      about it. The elegant program is one that can be easy to
      understand and can easily be adapted later to meet any
      requirement changes. My goal is to be a developer who
      brings such elegance to client’s problems.
    </p>
  </div>
</div>
