<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Frontend Card -->
    <div class="col-md-5 col-12 mx-2 mb-4">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h5>Front End</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li *ngFor="let skill of frontEndSkills" class="list-group-item d-flex align-items-center">
              <i class="{{ skill.icon }} me-2"></i>{{ skill.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Backend Card -->
    <div class="col-md-5 col-12 mx-2 mb-4">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h5>Back End</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li *ngFor="let skill of backEndSkills" class="list-group-item d-flex align-items-center">
              <i class="{{ skill.icon }} me-2"></i>{{ skill.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
