
<div class="container-fluid d-flex align-items-center vh-100">
  <div class="mr-auto text-left">
    <p class="lead">Hello World! My name is</p>
    <h1 class="display-1">Sibeko Linda</h1>
    <h2 class="text-muted">Backend Developer</h2>
    <div class="mt-4">
      <a href="https://github.com/LJSIBEKO" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-github custom-icon-size"></i>
      </a>
      <a href="https://www.linkedin.com/in/linda-sibeko-272378205/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://twitter.com/your-username" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.facebook.com/justice.sibeko.18/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/justicesibeko/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</div>





<app-about></app-about>
<app-experience></app-experience>
<app-skills></app-skills>
<app-project></app-project>


