<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4">Coming Soon</h1>
      <p class="lead">My website is under construction. I will be launching soon!</p>
      <div class="countdown">
        <div class="row">
          <div class="col">
            <div id="days" class="display-4">{{ days }}</div>
            <div class="text-muted">Days</div>
          </div>
          <div class="col">
            <div id="hours" class="display-4">{{ hours }}</div>
            <div class="text-muted">Hours</div>
          </div>
          <div class="col">
            <div id="minutes" class="display-4">{{ minutes }}</div>
            <div class="text-muted">Minutes</div>
          </div>
          <div class="col">
            <div id="seconds" class="display-4">{{ seconds }}</div>
            <div class="text-muted">Seconds</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
