<!--

<div class="container-fluid d-flex align-items-center vh-100">
  <div class="mr-auto text-left">
    <p class="lead">Hello World! My name is</p>
    <h1 class="display-1">Sibeko Linda</h1>
    <h2 class="text-muted">Backend Developer</h2>
    <div class="mt-4">
      <a href="https://github.com/LJSIBEKO" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-github custom-icon-size"></i>
      </a>
      <a href="https://www.linkedin.com/in/linda-sibeko-272378205/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://twitter.com/your-username" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.facebook.com/justice.sibeko.18/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/justicesibeko/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>


</div>


<div style="background-color: #e5e7e9; text-align: center; padding: 40px 20px 20px 20px;">
  <div style="display: inline-block;">
    <img src="assets/ReadyPlayerMe-Avatar.png" alt="Your Picture" style="border-radius: 50%; width: 150px; height: 150px; border-color: black;">
    <h2 style="margin-top: 20px;">About Me</h2>
    <p>I excel in problem-solving using Java and have strong skills in Angular. With my expertise, I can efficiently tackle complex coding challenges and develop robust web applications.</p>
  </div>
</div>


<div class="container mt-5 pb-4">
  <h3 class="text-center mb-4">Experience</h3>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm" style="transition: transform 0.3s;">
        <div class="card-body">
          <div class="d-flex align-items-center mb-3">
            <img src="/assets/droppa.png" alt="Droppa Logo" style="width: 50px; height: 50px; margin-right: 15px;">
            <div>
              <h5 class="card-title mb-0">Java Developer</h5>
              <h6 class="card-subtitle text-muted">Droppa | Jul 2024 - Present</h6>
            </div>
          </div>
          <p class="card-text">
            Currently working as a Java Developer, focusing on backend development, optimizing performance, and integrating with various services to build scalable applications.
          </p>
          <a href="https://www.droppa.co.za" style="text-decoration: none" target="_blank" class="card-link">www.droppa.co.za</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100 shadow-sm" style="transition: transform 0.3s;">
        <div class="card-body">
          <div class="d-flex align-items-center mb-3">
            <img src="/assets/droppa.png" alt="Droppa Logo" style="width: 50px; height: 50px; margin-right: 15px;">
            <div>
              <h5 class="card-title mb-0">Junior Java Developer</h5>
              <h6 class="card-subtitle text-muted">Droppa | Jul 2023 - Jun 2024 (1 year)</h6>
            </div>
          </div>
          <p class="card-text">
            Gained experience as a Junior Java Developer, working on various projects that involved coding, debugging, and collaborating with senior developers to improve code quality and application efficiency.
          </p>
          <a href="https://www.droppa.co.za" style="text-decoration: none" target="_blank" class="card-link">www.droppa.co.za</a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!-- Main Container -->
<div class="container-fluid d-flex align-items-center vh-100">
  <div class="mr-auto text-left">
    <p class="lead">Hello World! My name is</p>
    <h1 class="display-1">Sibeko Linda</h1>
    <h2 class="text-muted">Backend Developer</h2>
    <div class="mt-4">
      <a href="https://github.com/LJSIBEKO" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-github custom-icon-size"></i>
      </a>
      <a href="https://www.linkedin.com/in/linda-sibeko-272378205/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://twitter.com/your-username" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.facebook.com/justice.sibeko.18/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/justicesibeko/" target="_blank" class="btn btn-outline-dark btn-lg mx-1 rounded-5">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
  </div>
</div>





<app-about></app-about>
<app-experience></app-experience>
<app-skills></app-skills>


